@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-family: "HelveticaNeueCyr", sans-serif;
}

.container {
  max-width: 1232px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;

  &:active {
    opacity: 0.8;
  }
}
 ul {
   list-style: none;
 }

.home-games-contacts, .play-content-contacts, .listing-content-contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 10px 15px;
  margin: 0 0 10px;

  .alignment {
    display: flex;
    align-items: center;

    span {
      padding: 0 15px 0 0;
    }
  }

  a {
    display: inline-block;
    font-size: 10.5px;
    line-height: 1.9;
    background: rgb(34, 34, 34);
    padding: 3px;
    margin: 0 2px 5px;
    color: $color-base;
    transition: all .2s ease-in-out;
    border: 2px solid transparent;
    border-radius: 4px;

    &:hover {
      transform: translate(0, -4px);
      text-decoration: none;
    }

    &:active, &:focus {
      transform: translate(0, -4px);
      border: 2px solid rgba(0, 0, 0, 0.7);
      border-radius: 3px;
      background: rgba(34, 34, 34, 0.8);
    }
  }

  img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}

h1, h2 {
  color: $color-base;
  font-weight: 700;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
}

h2 {
  font-size: 32px;
  line-height: 1.875;
}