@import "variables";
html {
  scroll-behavior: smooth;
}
* {
  margin:      0;
  padding:     0;
  box-sizing:  border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline:     none;
}

.container {
  max-width: 1230px;
  padding:   0 15px;
  margin:    0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition:      .3s ease;

  &:active {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
}

h2 {
  font-size:      30px;
  line-height:    1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:          $color-base;
}

h1 {
  font-size:   24px;
  font-weight: bold;
  line-height: 1;
}

h4 {
  font-size:   18px;
  color:       $color-primary;
  border-left: 2px solid $color-attention;
}

p, h6 {
  font-size: 16px;
}

h6 {
  color: #545454;
  &:hover {
    color: $color-attention;
    text-decoration: underline;
  }
  &:active {
    opacity: 0.7;
  }
}

p {
  color: $color-text;
}

.like-container{
  filter: url('#filter');
  .material-icons {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-50%, -50%);
    font-family: 'Material Icons', sans-serif;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
  &.heart {
    .like-cnt {
      opacity: .4;
      background: transparent;
    }
    i {
      color: #f40000;
      user-select: none;
      font-size: 24px;
    }
  }
  &.like-js {
    i {
      font-size: 15px;
    }
  }
  &.admin-like {
    .like-cnt {
      width: 32px;
      height: 32px;
    }
    i {
      top: 48%;
      font-size: 20px;
    }
  }
  &.dislike {
    .like-cnt {
      opacity: .4;
      background: #ff3636;
      width: 32px;
      height: 32px;
    }
    i {
      top: 50%;
      right: 0;
      font-size: 21px;
      transform: scaleX(-1) translate(36%, -46%);
    }
  }
  &.chain-js {
    .like-cnt {
      opacity: .4;
      background: #fa6342;
      width: 32px;
      height: 32px;
    }
    i {
      top: 48%;
      font-size: 20px;
    }
  }
}
.like-cnt{
  position: relative;
  cursor:        pointer;
  background:    #23d2e2;
  width:         24px;
  height:        24px;
  border-radius: 50%;
  text-align:    center;
  line-height:   75px;
  z-index:       10;
}
.like-btn{
  color: #fff;
}
