@import "variables";

.container {
  max-width: 93%;
}

.listing {
  background: #e9eaee;
  padding: 10px 0 34px;

  &-content {
    background: $color-base;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5.008px;

    &-name {
      text-align: center;
      background: $color-primary;
      padding: 3px;
      margin: 0 -29px;
    }

    &-games {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0 -10px;

      &-item {
        width: 33.3333%;
        margin-bottom: 25px;
        padding: 0 10px;

        &:last-child {
          margin-bottom: 35px;
        }

        &-card {
          border-radius: 3px;
          box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
          border: 1px solid rgba(0, 0, 0, .125);
          text-align: center;

          h6 {
            margin: 15px 0;

            a {
              color: $color-link;
              font-size: 14px;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      img {
        border-radius: 3px 3px 0 0;
      }
    }

    &-description {
      color: #292929;

      h3, h4 {
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 19px;
      }

      h3 {
        font-size: 24px;
      }

      h4 {
        font-size: 19px;
        margin-bottom: 43px;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 43px;
      }

      &-link {
        margin: -23px 0 86px;

        a {
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          margin-bottom: 86px;
          color: $color-secondary;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 979px) {
  .listing {
    &-content {
      &-contacts {
        .hiden {
          display: none;
        }

        a {
          margin: 0 5px 5px 2px;
        }

        img {
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .listing {
    &-content {
      &-name {
        margin: 0 -23.2px;

        h1 {
          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 639px) {
  .listing {
    &-content {
      &-games {
        &-item {
          width: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .listing {
    &-content {
      padding: 17.5px;

      &-name {
        margin: 0 -20.3px;

        h1 {
          font-size: 28px;
        }
      }

      &-games {
        &-item {
          width: 100%;
        }
      }

      &-description {
        h3 {
          font-size: 21px;
        }

        h4 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

}