@import "variables";
@import "mixins";

.play {
  &-inner {
    background: $color-bg;
    padding:    20px 0 75px;

    .inner-content {
      display: flex;
    }

    .inner-games {
      width:        70%;
      margin-right: 30px;

      .games-menu {
        display:   none;
        max-width: 100%;
        .sidebar-menu {
          padding: 20px;
          h4 {
            margin-left:  -20px;
            padding-left: 20px;
          }
        }
      }
      .games-contacts {
        display:         flex;
        justify-content: center;
        flex-wrap:       wrap;
        background:      $color-base;
        border-radius:   5.008px;
        margin-bottom:   20px;
        padding:         20px;
        .alignment {
          display:     flex;
          align-items: center;

          span {
            padding: 0 15px 0 0;
          }
        }
        a {
          display:       inline-block;
          font-size:     10.5px;
          line-height:   1.9;
          background:    #222222;
          padding:       3px;
          margin:        0 2px 0;
          color:         $color-base;
          transition:    all 0.2s ease-in-out;
          border:        2px solid transparent;
          border-radius: 4px;
          &:hover {
            transform:       translate(0, -4px);
            text-decoration: none;
          }
          &:active, &:focus {
            transform:     translate(0, -4px);
            border:        2px solid rgba(0, 0, 0, 0.7);
            border-radius: 3px;
            background:    rgba(34, 34, 34, 0.8);
          }
        }
        img {
          width:        20px;
          height:       20px;
          margin-right: 5px;
        }
      }
      .games-game {
        display:       flex;
        padding:       20px;
        background:    $color-base;
        border-radius: 5.008px;
        margin-bottom: 20px;
      }
      .games-title {
        margin-bottom: 20px;
        border-bottom: 1px solid $color-border;
        padding:       0 0 10px;
        h4 {
          margin-left:  -20px;
          padding-left: 20px;
          line-height:  1.4;
        }
      }
      .games-admin {
        padding:       20px;
        background:    $color-base;
        border-radius: 5.008px;
        margin-bottom: 20px;
        .games-title {
         @include flex-c-sb;
          .games-icons {
            @include flex-c-sb;
            .like {
              margin-right: 25px;
              &:first-child {
                margin-right: 30px;
              }
              &:last-child {
                margin-right: 0;
              }
              .tooltip {
                position: relative;
                display: inline-block;
                &-text {
                  visibility: hidden;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  z-index: 1;
                  transform: translate(-28%, 40%);
                  background-color: $color-main;
                  color: $color-base;
                  text-align: center;
                  padding: 10px;
                  border-radius: 4px;
                  margin-top: 10px;
                  white-space: nowrap;
                }
                &:hover .tooltip-text {
                  visibility: visible;
                }
              }
            }
            .chain-js {
              .tooltip {
                &-text {
                  transform: translate(-49%, 40%);
                }
              }
            }
            .dislike {
              .tooltip {
                &-text {
                  transform: translate(-30%, 40%);
                }
              }
            }
            .like-container {
              margin-right: 5px;
            }
          }
        }
        .admin-content {
          @include flex-c-sb;
          .admin-person {
            display:     flex;
            align-items: center;
            h6 {
              a {
                color: $color-primary;
                &:hover {
                  color: $color-attention;
                }
              }
            }
            .person-image {
              width: 45px;
            }
          }
          .person-title {
            a {
              color: $color-attention;
            }
          }
        }
      }
      .games-list {
        background:    $color-base;
        border-radius: 5.008px;
        padding:       20px;
        margin:        0 auto 20px;
        &-content {
          display: flex;
        }
      }
      .games-item {
        display:        flex;
        flex-direction: column;
        margin:         0 20px 0 0;
        border:         1px solid #ede9e9;
        border-radius:  4px;
        &:last-child {
          margin: 0;
        }
        &-image {
          width: 100%;
          position: relative;
          z-index: 1;
          background: black;
          margin-right: 20px;
          border-radius: 4px 4px 0 0;
          &::after, &::before {
            content: "";
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            cursor: pointer;
            pointer-events: none;
            transform: translate(-50%, -50%) scale(1.4);
            transition: 0.3s ease-in-out;
            opacity: 0;
          }
          &::after {
            width: 31px;
            height: 31px;
            background-image: url("../images/play-button.svg");
            background-repeat: no-repeat;
          }
          &::before {
            width:          51px;
            height:         51px;
            border:         4px solid $color-attention;
            border-radius:  50%;
            transform-origin: center;
            background:     rgba(0, 0, 0, 0.6);
          }
          &:hover {
            &::after, &::before {
              transform: translate(-50%, -50%) scale(1);
              opacity: 1;
            }
          }
          a {
            display: flex;
            overflow: hidden;
            border-radius: 4px 4px 0 0;
          }
          img {
            object-fit:    contain;
            transition: .3s ease-in-out;
            &:hover {
              transform: scale(1.2);
              opacity: 0.4;
            }
          }
        }
        &-description {
          padding:    15px;
          width:      100%;
          text-align: center;
          a {
            &:hover {
              text-decoration: underline;
            }
          }
          h6 {
            margin-bottom: 15px;
          }
        }
      }
      .games-icons {
        @include flex-c-sb;
        max-width: 100%;
        color: $color-text;
        .like {
          font-size: 14px;
          @include flex-c-sb;
          &-container {
            margin-right: 5px;
          }
        }
      }
      .games-tags {
        padding:       20px;
        background:    $color-base;
        border-radius: 5.008px;
        margin-bottom: 20px;
        .tags-list {
          display:     flex;
          align-items: center;
          flex-wrap:   wrap;
        }
        .tags-item {
          margin-right:  6px;
          margin-bottom: 25px;
          a {
            font-size:     15px;
            color:         #8488a0;
            background:    $color-base;
            padding:       5px 10px;
            border:        1px solid #e1e1e4;
            border-radius: 30px;
            &:hover {
              background: $color-attention;
              color:      $color-base;
              border:     1px solid transparent;
            }
          }
          .tags-active {
            background: $color-attention;
            color:      $color-base;
            border:     1px solid transparent;
          }
        }
      }
      .games-description {
        padding:       20px;
        background:    $color-base;
        border-radius: 5.008px;
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .play {
    p {
      font-size: 14px;
    }
    .inner-content {
      flex-direction: column;
    }

    .inner-games {
      width:        100%;
      margin-right: 0;
      .games-menu {
        display: block;
        width:   100%;
      }
    }
    .inner-sidebar {
      .hidden {
        display: none;
      }
    }
  }
}
@media screen and (max-width: 992px) {
  .play {
    &-inner {
      padding-top: 74px;
    }
    .inner-games {
      .games-list {
        flex-direction: column;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .play {
    .hidden {
      display: none;
    }
    .inner-content {
      .games-contacts {
        img {
          margin-right: 0;
        }
      }
      .games-game {
        padding: 15px;
      }
      .games-list-content {
        flex-wrap:       wrap;
        justify-content: center;
      }
      .games-item {
        flex-direction: column;
        align-items:    center;
        margin:         0 0 20px;
        &-image, &-description {
          width: 100%;
        }
        &-image {
          margin: 0;
          img {
            border-radius: 4px 4px 0 0;
          }
        }
        &-description {
          padding: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 567px) {
  .play {
    .inner-content {
      align-items: center;
      .games-contacts {
        img {
          margin: 0;
        }
      }
      .games-title {
        h4 {
          margin-left:  -15px;
          padding-left: 15px;
          font-size:    16px;
        }
      }
      .games-contacts, .games-list, .games-admin, .games-game, .games-tags, .games-description {
        padding: 15px;
      }
      .games-menu {
        .sidebar-menu {
          padding: 15px;
          .sidebar-title {
            h4 {
              margin-left:  -15px;
              padding-left: 15px;
              line-height:  1.6;
            }
          }
        }
      }
      .games-admin {
        .games-title {
          flex-direction: column;
          align-items:    flex-start;
          h4 {
            margin-bottom: 15px;
          }
        }
      }
      .games-list {
        .games-item {
          &-description {
            padding: 15px;
            h6 {
              text-align: center;
            }
          }
        }
      }
      .games-tags {
        .tags-list {
          justify-content: center;
        }
      }
    }
  }
}
