@import "variables";
@import "mixins";
.inner-sidebar {
  max-width: 330px;
  width: 100%;
  .sidebar-title {
    border-bottom: 1px solid $color-border;
    padding:       0 0 10px;
    margin-bottom: 15px;
    h4 {
      color:          $color-secondary;
      font-size:      14px;
      text-transform: uppercase;
      margin-left:    -15px;
      padding-left:   15px;
      line-height:    1.8;
    }
  }
  .sidebar-menu {
    background:    $color-base;
    margin-bottom: 20px;
    padding:       15px;
    border-radius: 5.008px;
    &-item {
      border-bottom:  1px solid $color-border;
      margin-bottom:  20px;
      &:last-child {
        padding-bottom: 0;
        margin-bottom:  5px;
        border-bottom:  none;
      }
    }
    .title {
      @include flex-c-sb;
      color:         $color-secondary;
      font-size:     15px;
      padding: 0 40px 15px 0;
      cursor: pointer;
      &:hover {
        color: $color-attention;
      }
      &:last-child {
        padding: 0;
      }
      img {
        width: 10px;
      }
    }
    .show {
      .title {
        img {
          transform:  rotate(180deg);
        }
      }
      .submenu-list {
        display: block;
      }

    }
    .submenu-list {
      display: none;
      li {
        position: relative;
        z-index: 1;
        border-bottom: 1px solid $color-border;
        padding: 10px 0 10px 15px;
        &::after {
          content: "";
          width: 8px;
          height: 2px;
          background: $color-attention;
          position: absolute;
          z-index: 1;
          top: 50%;
          left: 0;
          transform: translate(0, 30%);
        }
        &:last-child {
          border-bottom: 0;
        }
        a {
          color:         $color-secondary;
          font-size: 13px;
          &:hover {
            color: $color-attention;
          }
        }
      }
    }
  }
  .sidebar-ad {
    background:    $color-base;
    border-radius: 5.008px;
    padding:       15px;
    &-image {
      display:       flex;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}