$color-main: #000;
$color-base: #fff;
$color-primary: #515365;
$color-secondary: #535165;
$color-attention: #fa6342;
$color-text: #959ab5;
$color-bg: #edf2f6;
$color-btn: #febf01;
$color-border: #e5e5e5;


