@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}
a:active {
  opacity: 0.7;
}

ul {
  list-style: none;
}

h1 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

h4 {
  font-size: 18px;
  color: #515365;
  border-left: 2px solid #fa6342;
}

p, h6 {
  font-size: 14px;
}

h6 {
  color: #545454;
}

p {
  color: #959ab5;
}

button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.5;
}

.kids-header .header-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.kids-header .header-logo {
  width: 19.1%;
  color: #000;
}
.kids-header .header-ad {
  width: 60.6%;
}
.kids-header .header-menu {
  background: #272727;
}
.kids-header .header-menu .menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.kids-header .header-menu .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kids-header .header-menu .menu-item a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 25px;
  color: #fff;
  transition: 0.3s ease;
  border-top: 5px solid transparent;
}
.kids-header .header-menu .menu-item a:hover, .kids-header .header-menu .menu-item a.active {
  background: #3b3b3b;
  border-top: 5px solid #febf01;
}
.kids-header .header-menu .menu-item.active a {
  background: #3b3b3b;
  border-top: 5px solid #febf01;
}
.kids-header .header-menu .btn {
  background: #febf01;
  color: #272727;
  padding: 20px 35px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
  transition: 0.3s ease;
}
.kids-header .header-menu .btn:hover {
  background: rgba(254, 191, 1, 0.8);
  color: #fff;
}
.kids-header .header-menu .burger {
  display: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.kids-header .header-menu .burger:hover {
  opacity: 0.7;
}
.kids-header .header-menu .burger span {
  position: relative;
  width: 80%;
  height: 2px;
  background: #fff;
}
.kids-header .header-menu .burger span::after, .kids-header .header-menu .burger span::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
}
.kids-header .header-menu .burger span::before {
  top: -6px;
}
.kids-header .header-menu .burger.active span {
  background: transparent;
}
.kids-header .header-menu .burger.active span::before {
  top: 0;
  transform: rotate(45deg);
}
.kids-header .header-menu .burger.active span::after {
  top: 0;
  transform: rotate(-45deg);
}
.kids-header .mega-menu {
  background: #edf2f6;
}
.kids-header .mega-menu-inner {
  display: flex;
  background: #fff;
  border-top: 10px solid #fa6342;
  padding: 35px 20px 55px;
}
.kids-header .mega-menu-list {
  padding: 0 30px;
  width: 33%;
  border-right: 1px solid #e5e5e5;
}
.kids-header .mega-menu-list:last-child {
  border: none;
}
.kids-header .mega-menu-list:first-child {
  padding-left: 0;
}
.kids-header .mega-menu-title {
  margin-bottom: 35px;
}
.kids-header .mega-menu-title h4 {
  color: #fa6342;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.kids-header .mega-menu .list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kids-header .mega-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.kids-header .mega-menu-item .active {
  border-left: 2px solid #fa6342;
  margin-right: -10px;
  padding-left: 5px;
}
.kids-header .mega-menu-item a {
  font-size: 16px;
  color: #959ab5;
  margin-bottom: 20px;
  line-height: 1.1;
}
.kids-inner {
  background: #edf2f6;
  padding: 20px 0 75px;
}
.kids-inner .inner-content {
  display: flex;
}
.kids-inner .inner-games {
  width: 70%;
  margin-right: 30px;
}
.kids-inner .inner-games .games-title {
  position: relative;
  text-align: center;
  background: #fff;
  border-radius: 5.008px;
  margin-bottom: 20px;
  padding: 25px 20px;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
}
.kids-inner .inner-games .games-title h2 {
  color: #515365;
}
.kids-inner .inner-games .games-title .games-type {
  display: flex;
  position: absolute;
  right: 20px;
  bottom: 16px;
  border: 2px solid #fa6342;
  border-radius: 3px;
}
.kids-inner .inner-games .games-title .games-type .btn-grid, .kids-inner .inner-games .games-title .games-type .btn-list {
  background: #edf2f6;
}
.kids-inner .inner-games .games-title .games-type .btn-list {
  padding: 5px 10px;
}
.kids-inner .inner-games .games-title .games-type button.active {
  background: #fa6342;
}
.kids-inner .inner-games .games-menu {
  display: none;
  max-width: 100%;
}
.kids-inner .inner-games .games-menu .sidebar-menu {
  padding: 20px;
}
.kids-inner .inner-games .games-menu .sidebar-menu h4 {
  margin-left: -20px;
  padding-left: 20px;
}
.kids-inner .inner-games .games-list {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5.008px;
  padding: 20px;
  margin: 0 auto 20px;
}
.kids-inner .inner-games .games-list-content {
  display: flex;
  flex-direction: column;
}
.kids-inner .inner-games .games-list-title {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px;
}
.kids-inner .inner-games .games-list-title h4 {
  margin-left: -20px;
  padding-left: 20px;
  line-height: 1.4;
}
.kids-inner .inner-games .games-list.grid .games-list-content {
  flex-direction: row;
}
.kids-inner .inner-games .games-list.grid .games-icons {
  max-width: 100%;
}
.kids-inner .inner-games .games-list.grid .games-item {
  flex-direction: column;
  margin: 0 20px 0 0;
}
.kids-inner .inner-games .games-list.grid .games-item:last-child {
  margin: 0;
}
.kids-inner .inner-games .games-list.grid .games-item-image {
  width: 100%;
}
.kids-inner .inner-games .games-list.grid .games-item-image img {
  border-radius: 4px 4px 0 0;
}
.kids-inner .inner-games .games-list.grid .games-item-description {
  padding: 15px;
  width: 100%;
  text-align: center;
}
.kids-inner .inner-games .games-list.grid .games-item-description p {
  display: none;
}
.kids-inner .inner-games .games-item {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ede9e9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.kids-inner .inner-games .games-item:last-child {
  margin-bottom: 0;
}
.kids-inner .inner-games .games-item-image {
  margin-right: 20px;
  display: flex;
  width: 31.625%;
}
.kids-inner .inner-games .games-item-image img {
  object-fit: contain;
  border-radius: 4px 0 0 4px;
}
.kids-inner .inner-games .games-item-description {
  width: 60%;
  padding: 20px 0;
}
.kids-inner .inner-games .games-item-description h6 {
  margin-bottom: 15px;
}
.kids-inner .inner-games .games-item-description p {
  word-wrap: break-word;
  margin-bottom: 15px;
}
.kids-inner .inner-games .games-item-description a {
  color: #fa6342;
}
.kids-inner .inner-games .games-item-description a:hover {
  text-decoration: underline;
}
.kids-inner .inner-games .games-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 220px;
}
.kids-inner .inner-games .games-icons button {
  color: #959ab5;
}
.kids-inner .inner-games .games-icons .icons-image {
  width: 20px;
}
.kids-inner .inner-games .games-icons img {
  width: 25px;
  margin-right: 5px;
}
.kids-inner .inner-sidebar {
  max-width: 330px;
}
.kids-inner .inner-sidebar .sidebar-title {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px;
  margin-bottom: 15px;
}
.kids-inner .inner-sidebar .sidebar-title h4 {
  color: #535165;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: -15px;
  padding-left: 15px;
  line-height: 1.8;
}
.kids-inner .inner-sidebar .sidebar-menu {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5.008px;
}
.kids-inner .inner-sidebar .sidebar-menu-item {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 15px;
  margin-bottom: 20px;
}
.kids-inner .inner-sidebar .sidebar-menu-item:last-child {
  padding-bottom: 0;
  margin-bottom: 5px;
  border-bottom: none;
}
.kids-inner .inner-sidebar .sidebar-menu a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #535165;
  font-size: 15px;
  padding-right: 40px;
}
.kids-inner .inner-sidebar .sidebar-menu a:hover {
  text-decoration: underline;
}
.kids-inner .inner-sidebar .sidebar-menu a img {
  width: 10px;
}
.kids-inner .inner-sidebar .sidebar-ad {
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5.008px;
  padding: 15px;
}
.kids-inner .inner-sidebar .sidebar-ad-image {
  display: flex;
  margin-bottom: 15px;
}
.kids-inner .inner-sidebar .sidebar-ad-image:last-child {
  margin-bottom: 0;
}
.kids-welcome .welcome-title {
  background: #34465d;
  text-align: center;
  padding: 40px 0;
}
.kids-welcome .welcome-description {
  padding: 45px 0 30px;
}
.kids-welcome .welcome-description p {
  color: #666666;
  margin-bottom: 30px;
  line-height: 1.5;
}
.kids-tags {
  background: #495b72;
  padding: 45px 0 35px;
}
.kids-tags .tags-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.kids-tags .tags-item {
  margin-right: 6px;
  margin-bottom: 25px;
}
.kids-tags .tags-item a {
  font-size: 15px;
  color: #8488a0;
  background: #fff;
  padding: 5px 10px;
  border-radius: 30px;
}
.kids-tags .tags-item a:hover {
  background: #fa6342;
  color: #fff;
}
.kids-tags .tags-item .tags-active {
  background: #fa6342;
  color: #fff;
}
.kids-info {
  background: #edf2f6;
  padding: 60px 0 10px;
}
.kids-info .info-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.kids-info .info-item {
  width: 48.3333%;
  padding: 20px 15px 20px;
  background: #fff;
  margin-bottom: 40px;
  border: 1px solid #ede9e9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.kids-info .info-item-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px;
}
.kids-info .info-item-title h4 {
  margin-left: -15px;
  padding-left: 15px;
}
.kids-info .info-item-description {
  margin-bottom: 20px;
}
.kids-info .info-item-description p {
  word-break: break-all;
}
.kids-footer .footer-top {
  padding: 20px 0;
}
.kids-footer .footer-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.kids-footer .footer-top p, .kids-footer .footer-top a {
  color: #515365;
}
.kids-footer .footer-top-menu {
  display: flex;
}
.kids-footer .footer-top-menu a {
  border-right: 1px solid #515365;
  padding: 0 10px;
  line-height: 1;
}
.kids-footer .footer-top-menu a:last-child {
  padding: 0 0 0 10px;
  border-right: none;
}
.kids-footer .footer-top-menu a:hover {
  text-decoration: underline;
}
.kids-footer .footer-bottom {
  padding: 15px 0 20px;
  background: #34465d;
}
.kids-footer .footer-bottom .footer-logo {
  width: 160px;
  margin: 0 auto 15px;
}
.kids-footer .footer-bottom p {
  text-align: center;
  color: #fff;
}
.kids-footer .footer-bottom .arrow {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 10;
}
.kids-footer .footer-bottom .arrow:hover {
  opacity: 0.9;
}
.kids-footer .footer-bottom .arrow:active {
  opacity: 0.6;
}
.kids-footer .footer-bottom .arrow img {
  width: 37px;
}

@media screen and (max-width: 1100px) {
  .kids-header .header-menu .menu-item a {
    padding: 20px 15px;
  }
  .kids-welcome .welcome-title h1 {
    font-size: 28px;
  }
}
@media screen and (max-width: 992px) {
  .kids .hidden {
    display: none;
  }
  .kids-header .header-menu .menu-list {
    display: none;
  }
  .kids-header .header-menu .burger {
    display: flex;
  }
  .kids .inner-content {
    flex-direction: column;
  }
  .kids .inner-games {
    width: 100%;
    margin-right: 0;
  }
  .kids .inner-games .games-menu {
    display: block;
  }
  .kids-welcome .welcome-title {
    padding: 35px;
  }
  .kids-welcome .welcome-title h1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .kids h2 {
    text-align: left;
  }
  .kids-header .header-menu .btn {
    font-size: 16px;
  }
  .kids .inner-content .games-list-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .kids .inner-content .games-list.grid .games-list-content {
    justify-content: center;
  }
  .kids .inner-content .games-list.grid .games-item {
    margin: 0 0 20px;
  }
  .kids .inner-content .games-item {
    flex-direction: column;
    align-items: center;
  }
  .kids .inner-content .games-item-image, .kids .inner-content .games-item-description {
    width: 100%;
  }
  .kids .inner-content .games-item-image {
    margin: 0;
  }
  .kids .inner-content .games-item-image img {
    border-radius: 4px 4px 0 0;
  }
  .kids .inner-content .games-item-description {
    padding: 15px;
  }
  .kids-welcome .welcome-title {
    padding: 30px 0;
  }
  .kids-welcome .welcome-title h1 {
    font-size: 22px;
    line-height: 1.3;
  }
  .kids-info .info-item {
    width: 100%;
  }
  .kids-footer .footer-top-content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .kids-footer .footer-top-menu {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 567px) {
  .kids-header .header-menu .menu-content {
    padding: 0 5px;
  }
  .kids-header .header-menu .menu-content .btn {
    padding: 15px 25px;
    font-size: 14px;
  }
  .kids .inner-content {
    align-items: center;
  }
  .kids .inner-content .games-title {
    padding: 25px 15px;
  }
  .kids .inner-content .games-title h2 {
    font-size: 18px;
  }
  .kids .inner-content .games-title .games-type {
    right: 15px;
  }
  .kids .inner-content .games-menu .sidebar-menu {
    padding: 15px;
  }
  .kids .inner-content .games-menu .sidebar-menu .sidebar-title h4 {
    margin-left: -15px;
    padding-left: 15px;
    line-height: 1.6;
  }
  .kids .inner-content .games-list {
    padding: 15px;
  }
  .kids .inner-content .games-list .games-list-title h4 {
    margin-left: -15px;
    padding-left: 15px;
    font-size: 16px;
  }
  .kids .inner-content .games-list .games-item-description {
    padding: 15px;
  }
  .kids .inner-content .games-list .games-item-description h6 {
    text-align: center;
  }
  .kids-welcome .welcome-title {
    padding: 25px 0;
  }
  .kids-welcome .welcome-title h1 {
    font-size: 20px;
  }
  .kids-tags .tags-list {
    justify-content: center;
  }
  .kids-footer .footer-top-menu {
    flex-direction: column;
  }
  .kids-footer .footer-top-menu a {
    margin: 0 0 15px;
    border: none;
    padding: 0;
  }
  .kids-footer .footer-top-menu a:last-child {
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
