@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/openSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  outline: none;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s ease;
}
a:active {
  opacity: 0.7;
}

ul {
  list-style: none;
}

h2 {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  color: #515365;
}

h4 {
  font-size: 18px;
  color: #515365;
  border-left: 2px solid #fa6342;
}

p {
  font-size: 16px;
}

h6 {
  font-size: 14px;
  color: #545454;
}
h6:hover {
  color: #fa6342;
  text-decoration: underline;
}
h6:active {
  opacity: 0.7;
}

p {
  color: #959ab5;
}

button {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  opacity: 0.8;
}
button:active {
  opacity: 0.5;
}

.like-container {
  filter: url("#filter");
}
.like-container .material-icons {
  position: absolute;
  top: 46%;
  left: 52%;
  transform: translate(-50%, -50%);
  font-family: "Material Icons", sans-serif;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
.like-container.heart .like-cnt {
  background: transparent;
}
.like-container.heart i {
  color: #f40000;
  user-select: none;
  font-size: 24px;
}
.like-container.like-js i {
  font-size: 15px;
}
.like-container.admin-like .like-cnt {
  width: 32px;
  height: 32px;
}
.like-container.admin-like i {
  top: 48%;
  font-size: 20px;
}
.like-container.dislike .like-cnt {
  background: #ff3636;
  width: 32px;
  height: 32px;
}
.like-container.dislike i {
  top: 50%;
  right: 0;
  font-size: 21px;
  transform: scaleX(-1) translate(36%, -46%);
}
.like-container.chain-js .like-cnt {
  background: #fa6342;
  width: 32px;
  height: 32px;
}
.like-container.chain-js i {
  top: 48%;
  font-size: 20px;
}

.like-cnt {
  position: relative;
  cursor: pointer;
  background: #23d2e2;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
  z-index: 10;
}

.like-btn {
  color: #fff;
}

#toTop {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 206, 64, 0.5);
  border: none;
  border-radius: 0;
  opacity: 0.2;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #253861;
}

::-webkit-scrollbar-track {
  background: #e1e1e1;
  border: none;
  border-radius: 0;
}

.kids-inner {
  background: #edf2f6;
  padding: 20px 0 75px;
}
.kids-inner .inner-content {
  display: flex;
}
.kids-inner .inner-games {
  width: 70%;
  margin-right: 30px;
}
.kids-inner .inner-games .games-title {
  position: relative;
  text-align: center;
  background: #fff;
  border-radius: 5.008px;
  margin-bottom: 20px;
  padding: 25px 20px;
}
.kids-inner .inner-games .games-title h2 {
  color: #515365;
}
.kids-inner .inner-games .games-title .games-type {
  display: flex;
  position: absolute;
  width: 100px;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  border: 2px solid #fa6342;
  border-radius: 3px;
}
.kids-inner .inner-games .games-title .games-type .btn-grid, .kids-inner .inner-games .games-title .games-type .btn-list {
  background: #edf2f6;
  width: 50%;
  cursor: pointer;
  border: none;
}
.kids-inner .inner-games .games-title .games-type .btn-grid:hover, .kids-inner .inner-games .games-title .games-type .btn-grid:active, .kids-inner .inner-games .games-title .games-type .btn-list:hover, .kids-inner .inner-games .games-title .games-type .btn-list:active {
  opacity: 0.7;
}
.kids-inner .inner-games .games-title .games-type .btn-list {
  padding: 5px 10px;
}
.kids-inner .inner-games .games-title .games-type button.active {
  background: #fa6342;
}
.kids-inner .inner-games .games-menu {
  display: none;
  max-width: 100%;
}
.kids-inner .inner-games .games-menu .sidebar-menu {
  padding: 20px;
}
.kids-inner .inner-games .games-menu .sidebar-menu h4 {
  margin-left: -20px;
  padding-left: 20px;
}
.kids-inner .inner-games .games-list {
  background: #fff;
  border-radius: 5.008px;
  padding: 20px;
  margin: 0 auto 20px;
}
.kids-inner .inner-games .games-list-content {
  display: flex;
  flex-direction: row;
}
.kids-inner .inner-games .games-list-title {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px;
}
.kids-inner .inner-games .games-list-title h4 {
  margin-left: -20px;
  padding-left: 20px;
  line-height: 1.4;
}
.kids-inner .inner-games .games-list.list .games-list-content {
  flex-direction: column;
}
.kids-inner .inner-games .games-list.list .games-icons {
  max-width: 220px;
}
.kids-inner .inner-games .games-list.list .games-item {
  flex-direction: row;
  margin-bottom: 20px;
}
.kids-inner .inner-games .games-list.list .games-item:last-child {
  margin: 0;
}
.kids-inner .inner-games .games-list.list .games-item-image {
  width: 31.625%;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.kids-inner .inner-games .games-list.list .games-item-image a {
  width: 100%;
  display: flex;
  border-radius: 4px 0 0 4px;
}
.kids-inner .inner-games .games-list.list .games-item-description {
  width: 60%;
  padding: 18px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.kids-inner .inner-games .games-list.list .games-item-description p {
  word-wrap: break-word;
  margin-bottom: 15px;
  display: block;
}
.kids-inner .inner-games .games-list.list .games-item-description p a {
  color: #fa6342;
}
.kids-inner .inner-games .games-list.list .games-item-description p a:hover {
  text-decoration: underline;
}
.kids-inner .inner-games .games-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ede9e9;
  border-radius: 4px;
  margin: 0 20px 0 0;
}
.kids-inner .inner-games .games-item:last-child {
  margin: 0;
}
.kids-inner .inner-games .games-item-image {
  width: 100%;
  position: relative;
  z-index: 1;
}
.kids-inner .inner-games .games-item-image::after, .kids-inner .inner-games .games-item-image::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  cursor: pointer;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1.4);
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.kids-inner .inner-games .games-item-image::after {
  width: 31px;
  height: 31px;
  background-image: url("../images/play-button.svg");
  background-repeat: no-repeat;
}
.kids-inner .inner-games .games-item-image::before {
  width: 51px;
  height: 51px;
  border: 4px solid #fa6342;
  border-radius: 50%;
  transform-origin: center;
  background: rgba(0, 0, 0, 0.6);
}
.kids-inner .inner-games .games-item-image:hover::after, .kids-inner .inner-games .games-item-image:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.kids-inner .inner-games .games-item-image a {
  display: flex;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  background: #000;
}
.kids-inner .inner-games .games-item-image img {
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
.kids-inner .inner-games .games-item-image img:hover {
  transform: scale(1.2);
  opacity: 0.4;
}
.kids-inner .inner-games .games-item-description {
  padding: 15px;
  width: 100%;
  text-align: center;
}
.kids-inner .inner-games .games-item-description h6 {
  margin-bottom: 15px;
}
.kids-inner .inner-games .games-item-description p {
  font-family: "OpenSans", sans-serif;
  display: none;
}
.kids-inner .inner-games .games-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.kids-inner .inner-games .games-icons button {
  color: #959ab5;
}
.kids-inner .inner-games .games-icons .icons-image {
  width: 20px;
}
.kids-inner .inner-games .games-icons img {
  width: 25px;
  margin-right: 5px;
}
.kids-welcome .welcome-title {
  background: #34465d;
  text-align: center;
  padding: 40px 0;
}
.kids-welcome .welcome-description {
  padding: 45px 0 30px;
}
.kids-welcome .welcome-description p {
  font-family: "OpenSans", sans-serif;
  color: #666666;
  margin-bottom: 30px;
  line-height: 1.5;
}
.kids-tags {
  background: #495b72;
  padding: 45px 0 35px;
}
.kids-tags .tags-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.kids-tags .tags-item {
  margin-right: 6px;
  margin-bottom: 25px;
}
.kids-tags .tags-item a {
  font-size: 13px;
  color: #8488a0;
  background: #fff;
  padding: 5px 10px;
  border-radius: 30px;
}
.kids-tags .tags-item a:hover {
  background: #fa6342;
  color: #fff;
}
.kids-tags .tags-item .tags-active {
  background: #fa6342;
  color: #fff;
}
.kids-info {
  background: #edf2f6;
  padding: 60px 0 10px;
}
.kids-info .info-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.kids-info .info-item {
  width: 48.3333%;
  padding: 20px 15px 20px;
  background: #fff;
  margin-bottom: 40px;
  border: 1px solid #ede9e9;
  border-radius: 4px;
}
.kids-info .info-item-title {
  margin-bottom: 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px;
}
.kids-info .info-item-title h4 {
  margin-left: -15px;
  padding-left: 15px;
}
.kids-info .info-item-description {
  margin-bottom: 20px;
}
.kids-info .info-item-description p {
  font-family: "OpenSans", sans-serif;
  word-break: break-all;
}

@media screen and (max-width: 1100px) {
  .kids p {
    font-size: 14px;
  }
  .kids-welcome .welcome-title h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 992px) {
  .kids .hidden {
    display: none;
  }
  .kids-inner {
    padding-top: 74px;
  }
  .kids .inner-content {
    flex-direction: column;
  }
  .kids .inner-games {
    width: 100%;
    margin-right: 0;
  }
  .kids .inner-games .games-menu {
    display: block;
  }
  .kids-welcome .welcome-title {
    padding: 35px;
  }
  .kids-welcome .welcome-title h2 {
    font-size: 26px;
  }
}
@media screen and (max-width: 768px) {
  .kids h1 {
    text-align: left;
    font-size: 22px;
  }
  .kids .inner-content .games-list-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .kids .inner-content .games-list.list .games-item {
    flex-direction: column;
    align-items: center;
  }
  .kids .inner-content .games-list.list .games-item-image {
    margin: 0;
    width: 100%;
  }
  .kids .inner-content .games-list.list .games-item-image a {
    border-radius: 4px 4px 0 0;
  }
  .kids .inner-content .games-list.list .games-item-description {
    padding: 15px;
    width: 100%;
  }
  .kids .inner-content .games-item {
    margin: 0 0 20px;
  }
  .kids-welcome .welcome-title {
    padding: 30px 0;
  }
  .kids-welcome .welcome-title h2 {
    font-size: 22px;
    line-height: 1.3;
  }
  .kids-info .info-item {
    width: 100%;
  }
}
@media screen and (max-width: 567px) {
  .kids h1 {
    font-size: 18px;
  }
  .kids .inner-content {
    align-items: center;
  }
  .kids .inner-content .games-title {
    padding: 25px 15px;
  }
  .kids .inner-content .games-title .games-type {
    width: 70px;
    right: 15px;
  }
  .kids .inner-content .games-menu .sidebar-menu {
    padding: 15px;
  }
  .kids .inner-content .games-menu .sidebar-menu .sidebar-title h4 {
    margin-left: -15px;
    padding-left: 15px;
    line-height: 1.6;
  }
  .kids .inner-content .games-list {
    padding: 15px;
  }
  .kids .inner-content .games-list .games-list-title h4 {
    margin-left: -15px;
    padding-left: 15px;
    font-size: 16px;
  }
  .kids .inner-content .games-list.list {
    padding: 15px;
  }
  .kids .inner-content .games-list.list .games-item-description {
    padding: 15px;
  }
  .kids .inner-content .games-list.list .games-item-description h6 {
    text-align: center;
  }
  .kids-welcome .welcome-title {
    padding: 25px 0;
  }
  .kids-welcome .welcome-title h2 {
    font-size: 20px;
  }
  .kids-tags .tags-list {
    justify-content: center;
  }
}
.play-inner {
  background: #edf2f6;
  padding: 20px 0 75px;
}
.play-inner .inner-content {
  display: flex;
}
.play-inner .inner-games {
  width: 70%;
  margin-right: 30px;
}
.play-inner .inner-games .games-menu {
  display: none;
  max-width: 100%;
}
.play-inner .inner-games .games-menu .sidebar-menu {
  padding: 20px;
}
.play-inner .inner-games .games-menu .sidebar-menu h4 {
  margin-left: -20px;
  padding-left: 20px;
}
.play-inner .inner-games .games-contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 5.008px;
  margin-bottom: 20px;
  padding: 20px;
}
.play-inner .inner-games .games-contacts .alignment {
  display: flex;
  align-items: center;
}
.play-inner .inner-games .games-contacts .alignment span {
  padding: 0 15px 0 0;
}
.play-inner .inner-games .games-contacts a {
  display: inline-block;
  font-size: 10.5px;
  line-height: 1.9;
  background: #222222;
  padding: 3px;
  margin: 0 2px 0;
  color: #fff;
  transition: all 0.2s ease-in-out;
  border: 2px solid transparent;
  border-radius: 4px;
}
.play-inner .inner-games .games-contacts a:hover {
  transform: translate(0, -4px);
  text-decoration: none;
}
.play-inner .inner-games .games-contacts a:active, .play-inner .inner-games .games-contacts a:focus {
  transform: translate(0, -4px);
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background: rgba(34, 34, 34, 0.8);
}
.play-inner .inner-games .games-contacts img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.play-inner .inner-games .games-game {
  display: flex;
  padding: 20px;
  background: #fff;
  border-radius: 5.008px;
  margin-bottom: 20px;
}
.play-inner .inner-games .games-title {
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px;
}
.play-inner .inner-games .games-title h4 {
  margin-left: -20px;
  padding-left: 20px;
  line-height: 1.4;
}
.play-inner .inner-games .games-admin {
  padding: 20px;
  background: #fff;
  border-radius: 5.008px;
  margin-bottom: 20px;
}
.play-inner .inner-games .games-admin .games-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-inner .inner-games .games-admin .games-title .games-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-inner .inner-games .games-admin .games-title .games-icons .like {
  margin-right: 25px;
}
.play-inner .inner-games .games-admin .games-title .games-icons .like:first-child {
  margin-right: 30px;
}
.play-inner .inner-games .games-admin .games-title .games-icons .like:last-child {
  margin-right: 0;
}
.play-inner .inner-games .games-admin .games-title .games-icons .like.link {
  transform: rotate(-45deg);
}
.play-inner .inner-games .games-admin .games-title .games-icons .like-container {
  margin-right: 5px;
}
.play-inner .inner-games .games-admin .games-title .games-icons .btn-chain {
  margin-right: 30px;
}
.play-inner .inner-games .games-admin .games-title .games-icons img {
  width: 33px;
  margin-right: 5px;
}
.play-inner .inner-games .games-admin .admin-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-inner .inner-games .games-admin .admin-content .admin-person {
  display: flex;
  align-items: center;
}
.play-inner .inner-games .games-admin .admin-content .admin-person h6 a {
  color: #515365;
}
.play-inner .inner-games .games-admin .admin-content .admin-person h6 a:hover {
  color: #fa6342;
}
.play-inner .inner-games .games-admin .admin-content .admin-person .person-image {
  width: 45px;
}
.play-inner .inner-games .games-admin .admin-content .person-title a {
  color: #fa6342;
}
.play-inner .inner-games .games-list {
  background: #fff;
  border-radius: 5.008px;
  padding: 20px;
  margin: 0 auto 20px;
}
.play-inner .inner-games .games-list-content {
  display: flex;
}
.play-inner .inner-games .games-item {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
  border: 1px solid #ede9e9;
  border-radius: 4px;
}
.play-inner .inner-games .games-item:last-child {
  margin: 0;
}
.play-inner .inner-games .games-item-image {
  width: 100%;
  position: relative;
  z-index: 1;
  background: black;
  margin-right: 20px;
  border-radius: 4px 4px 0 0;
}
.play-inner .inner-games .games-item-image::after, .play-inner .inner-games .games-item-image::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  cursor: pointer;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1.4);
  transition: 0.3s ease-in-out;
  opacity: 0;
}
.play-inner .inner-games .games-item-image::after {
  width: 31px;
  height: 31px;
  background-image: url("../images/play-button.svg");
  background-repeat: no-repeat;
}
.play-inner .inner-games .games-item-image::before {
  width: 51px;
  height: 51px;
  border: 4px solid #fa6342;
  border-radius: 50%;
  transform-origin: center;
  background: rgba(0, 0, 0, 0.6);
}
.play-inner .inner-games .games-item-image:hover::after, .play-inner .inner-games .games-item-image:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.play-inner .inner-games .games-item-image a {
  display: flex;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
.play-inner .inner-games .games-item-image img {
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
.play-inner .inner-games .games-item-image img:hover {
  transform: scale(1.2);
  opacity: 0.4;
}
.play-inner .inner-games .games-item-description {
  padding: 15px;
  width: 100%;
  text-align: center;
}
.play-inner .inner-games .games-item-description a:hover {
  text-decoration: underline;
}
.play-inner .inner-games .games-item-description h6 {
  margin-bottom: 15px;
}
.play-inner .inner-games .games-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  color: #959ab5;
}
.play-inner .inner-games .games-icons .like {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-inner .inner-games .games-icons .like-container {
  margin-right: 5px;
}
.play-inner .inner-games .games-tags {
  padding: 20px;
  background: #fff;
  border-radius: 5.008px;
  margin-bottom: 20px;
}
.play-inner .inner-games .games-tags .tags-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.play-inner .inner-games .games-tags .tags-item {
  margin-right: 6px;
  margin-bottom: 25px;
}
.play-inner .inner-games .games-tags .tags-item a {
  font-size: 15px;
  color: #8488a0;
  background: #fff;
  padding: 5px 10px;
  border: 1px solid #e1e1e4;
  border-radius: 30px;
}
.play-inner .inner-games .games-tags .tags-item a:hover {
  background: #fa6342;
  color: #fff;
  border: none;
}
.play-inner .inner-games .games-tags .tags-item .tags-active {
  background: #fa6342;
  color: #fff;
  border: none;
}
.play-inner .inner-games .games-description {
  padding: 20px;
  background: #fff;
  border-radius: 5.008px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {
  .play p {
    font-size: 14px;
  }
  .play .inner-content {
    flex-direction: column;
  }
  .play .inner-games {
    width: 100%;
    margin-right: 0;
  }
  .play .inner-games .games-menu {
    display: block;
    width: 100%;
  }
  .play .inner-sidebar .hidden {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .play-inner {
    padding-top: 74px;
  }
  .play .inner-games .games-list {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .play .hidden {
    display: none;
  }
  .play .inner-content .games-game {
    padding: 15px;
  }
  .play .inner-content .games-list-content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .play .inner-content .games-item {
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px;
  }
  .play .inner-content .games-item-image, .play .inner-content .games-item-description {
    width: 100%;
  }
  .play .inner-content .games-item-image {
    margin: 0;
  }
  .play .inner-content .games-item-image img {
    border-radius: 4px 4px 0 0;
  }
  .play .inner-content .games-item-description {
    padding: 15px;
  }
}
@media screen and (max-width: 567px) {
  .play .inner-content {
    align-items: center;
  }
  .play .inner-content .games-contacts img {
    margin: 0;
  }
  .play .inner-content .games-title h4 {
    margin-left: -15px;
    padding-left: 15px;
    font-size: 16px;
  }
  .play .inner-content .games-contacts, .play .inner-content .games-list, .play .inner-content .games-admin, .play .inner-content .games-game, .play .inner-content .games-tags, .play .inner-content .games-description {
    padding: 15px;
  }
  .play .inner-content .games-menu .sidebar-menu {
    padding: 15px;
  }
  .play .inner-content .games-menu .sidebar-menu .sidebar-title h4 {
    margin-left: -15px;
    padding-left: 15px;
    line-height: 1.6;
  }
  .play .inner-content .games-admin .games-title {
    flex-direction: column;
    align-items: flex-start;
  }
  .play .inner-content .games-admin .games-title h4 {
    margin-bottom: 15px;
  }
  .play .inner-content .games-list .games-item-description {
    padding: 15px;
  }
  .play .inner-content .games-list .games-item-description h6 {
    text-align: center;
  }
  .play .inner-content .games-tags .tags-list {
    justify-content: center;
  }
}
@media (any-hover: hover) {
  .header .header-menu .btn:hover > a {
    background: rgba(254, 191, 1, 0.8);
    color: #fff;
  }
}
.header .header-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
.header .burger {
  display: none;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.header .burger:hover {
  opacity: 0.7;
}
.header .burger span {
  position: relative;
  width: 100%;
  height: 3px;
  background: #000;
  transition: 0.3s linear;
}
.header .burger span::after, .header .burger span::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 7px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #000;
}
.header .burger span::before {
  top: -7px;
}
.header .burger.active span {
  background: transparent;
}
.header .burger.active span::before {
  top: 0;
  transform: rotate(45deg);
}
.header .burger.active span::after {
  top: 0;
  transform: rotate(-45deg);
}
.header .header-logo {
  width: 19.65%;
  color: #000;
}
.header .header-logo a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-logo .logo-image {
  width: 30.43%;
  height: 60px;
}
.header .header-logo .logo-name {
  width: 65.21%;
  height: 34px;
  margin-top: 10px;
}
.header .header-ad {
  width: 62.35%;
  display: flex;
}
.header .header-menu {
  background: #272727;
}
.header .header-menu .menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .header-menu .menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-menu .menu-item > a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  padding: 20px 25px;
  color: #fff;
  transition: 0.3s ease;
  border-top: 5px solid transparent;
}
.header .header-menu .menu-item > a:hover, .header .header-menu .menu-item > a.active {
  background: #3b3b3b;
  border-top: 5px solid #febf01;
}
.header .header-menu .menu-item.active > a {
  background: #3b3b3b;
  border-top: 5px solid #febf01;
}
.header .header-menu .btn > a {
  position: relative;
  background: #febf01;
  color: #272727;
  padding: 20px 35px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.3px;
}
.header .header-menu .btn.visible > a {
  color: #fff;
}
.header .header-menu .btn.visible > a::after {
  border-color: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}
.header .header-menu .btn.visible .mega-menu {
  display: block;
}
.header .mega-menu {
  background: transparent;
  position: absolute;
  z-index: 10;
  top: 62px;
  left: 0;
  width: 100%;
  display: none;
}
.header .mega-menu .container {
  padding: 0;
}
.header .mega-menu-inner {
  display: flex;
  background: #fff;
  border: 1px solid #ede9e9;
  border-top: 10px solid #fa6342;
  padding: 35px 20px 55px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
.header .mega-menu-list {
  padding: 0 30px;
  width: 33%;
  border-right: 1px solid #e5e5e5;
}
.header .mega-menu-list:last-child {
  border: none;
}
.header .mega-menu-list:first-child {
  padding-left: 0;
}
.header .mega-menu-title {
  margin-bottom: 35px;
}
.header .mega-menu-title h4 {
  color: #fa6342;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}
.header .mega-menu .list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .mega-menu-item {
  display: flex;
  flex-direction: column;
}
.header .mega-menu-item .active {
  border-left: 2px solid #fa6342;
  margin-right: -10px;
  padding-left: 5px;
}
.header .mega-menu-item a {
  font-size: 16px;
  color: #959ab5;
  margin-bottom: 20px;
  line-height: 1.1;
}
.header .mega-menu-item a:hover {
  color: #fa6342;
}

@media screen and (max-width: 1100px) {
  .header .header-menu .menu-item > a {
    padding: 20px 15px;
  }
}
@media screen and (max-width: 992px) {
  .header .header-top {
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 10;
  }
  .header .header-top-content {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  .header .header-top .burger {
    display: flex;
  }
  .header .header-top .header-logo {
    margin: 0 auto;
    width: 150px;
  }
  .header .header-top .header-logo .logo-image {
    display: none;
  }
  .header .header-top .header-logo .logo-name {
    margin-top: 0;
    width: 100%;
  }
  .header .header-top .header-ad {
    display: none;
  }
  .header .header-menu {
    position: fixed;
    top: 54px;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s linear;
  }
  .header .header-menu.mobile-menu {
    opacity: 1;
    visibility: visible;
  }
  .header .header-menu.mobile-menu .menu-content {
    transform: translate(0, 0);
  }
  .header .header-menu .container {
    padding: 0;
  }
  .header .header-menu .btn > a {
    display: inline-block;
    width: 100%;
    padding: 20px;
    background: #f8c246;
    text-transform: none;
    font-weight: 500;
  }
  .header .header-menu .btn > a:active {
    background: rgba(254, 191, 1, 0.8);
    color: #fff;
  }
  .header .header-menu .btn > a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 90%;
    width: 6px;
    height: 6px;
    display: inline-block;
    cursor: pointer;
    transform: translate(-50%, -50%) rotate(-135deg);
    border-top: 1px solid #272727;
    border-left: 1px solid #272727;
  }
  .header .header-menu .btn .mega-menu {
    background: #fff;
    text-align: left;
    top: 0;
    position: relative;
  }
  .header .header-menu .btn .mega-menu-inner {
    flex-direction: column;
    border: none;
    padding: 20px 0 0;
    box-shadow: none;
  }
  .header .header-menu .btn .mega-menu-list {
    width: 100%;
    border: none;
    padding: 0;
  }
  .header .header-menu .btn .mega-menu-list .list-content {
    padding: 0 15px;
  }
  .header .header-menu .btn .mega-menu-item a {
    margin-bottom: 35px;
  }
  .header .header-menu .btn .mega-menu-title {
    padding: 0 5px;
    margin-bottom: 25px;
  }
  .header .header-menu .btn .mega-menu-title h4 {
    color: #fece3e;
    letter-spacing: 1px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
  }
  .header .header-menu .menu-content {
    justify-content: flex-start;
    width: 270px;
    background: #fff;
    flex-direction: column;
    align-items: normal;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
    overflow: auto;
    height: calc(100vh - 54px);
    transform: translate(-100%, 0);
    transition: 0.3s linear;
  }
  .header .header-menu .menu-list {
    flex-direction: column;
    margin-bottom: 15px;
  }
  .header .header-menu .menu-item {
    width: 100%;
  }
  .header .header-menu .menu-item:hover {
    background: #272727;
  }
  .header .header-menu .menu-item:hover > a {
    color: #fff;
  }
  .header .header-menu .menu-item.active {
    background: #272727;
  }
  .header .header-menu .menu-item.active > a {
    display: inline-block;
    color: #fff;
    border-top: transparent;
    background: #272727;
  }
  .header .header-menu .menu-item > a {
    width: 100%;
    padding: 20px;
    display: inline-block;
    color: #272727;
  }
  .header .header-menu .menu-item > a:hover {
    border-top: 5px solid transparent;
  }
  .header .header-menu .menu-item-item {
    align-items: normal;
  }
  .header .header-menu .menu-item-item a {
    color: #27282c;
    margin-bottom: 35px;
  }
  .header .header-menu .menu-item-item a:last-child {
    margin-bottom: 15px;
  }
  .header .header-menu .menu-item .list-content {
    flex-direction: column;
    text-align: left;
    align-items: normal;
    padding: 0 15px;
  }
  .header .header-menu .burger {
    align-self: flex-start;
  }
}
@media screen and (max-width: 768px) {
  .header .header-menu .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 567px) {
  .header .header-top-content {
    display: flex;
    justify-content: space-between;
  }
  .header .header-top-content .logo-name {
    margin: 0;
  }
}
.inner-sidebar {
  width: 330px;
}
.inner-sidebar .sidebar-title {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 10px;
  margin-bottom: 15px;
}
.inner-sidebar .sidebar-title h4 {
  color: #535165;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: -15px;
  padding-left: 15px;
  line-height: 1.8;
}
.inner-sidebar .sidebar-menu {
  background: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5.008px;
}
.inner-sidebar .sidebar-menu-item {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.inner-sidebar .sidebar-menu-item:last-child {
  padding-bottom: 0;
  margin-bottom: 5px;
  border-bottom: none;
}
.inner-sidebar .sidebar-menu .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #535165;
  font-size: 15px;
  padding: 0 40px 15px 0;
  cursor: pointer;
}
.inner-sidebar .sidebar-menu .title:hover {
  color: #fa6342;
}
.inner-sidebar .sidebar-menu .title img {
  width: 10px;
}
.inner-sidebar .sidebar-menu .show .title img {
  transform: rotate(180deg);
}
.inner-sidebar .sidebar-menu .show .submenu-list {
  display: block;
}
.inner-sidebar .sidebar-menu .submenu-list {
  display: none;
}
.inner-sidebar .sidebar-menu .submenu-list li {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0 10px 15px;
}
.inner-sidebar .sidebar-menu .submenu-list li::after {
  content: "";
  width: 8px;
  height: 2px;
  background: #fa6342;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translate(0, 30%);
}
.inner-sidebar .sidebar-menu .submenu-list li:last-child {
  border-bottom: 0;
}
.inner-sidebar .sidebar-menu .submenu-list li a {
  color: #535165;
  font-size: 13px;
}
.inner-sidebar .sidebar-menu .submenu-list li a:hover {
  color: #fa6342;
}
.inner-sidebar .sidebar-ad {
  background: #fff;
  border-radius: 5.008px;
  padding: 15px;
}
.inner-sidebar .sidebar-ad-image {
  display: flex;
  margin-bottom: 15px;
}
.inner-sidebar .sidebar-ad-image:last-child {
  margin-bottom: 0;
}

.footer .footer-top {
  padding: 20px 0;
}
.footer .footer-top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer-top p, .footer .footer-top a {
  color: #515365;
}
.footer .footer-top-menu {
  display: flex;
}
.footer .footer-top-menu a {
  border-right: 1px solid #515365;
  padding: 0 10px;
  line-height: 1;
}
.footer .footer-top-menu a:last-child {
  padding: 0 0 0 10px;
  border-right: none;
}
.footer .footer-top-menu a:hover {
  color: #fa6342;
  text-decoration: underline;
}
.footer .footer-bottom {
  padding: 15px 0 20px;
  background: #34465d;
}
.footer .footer-bottom .footer-logo {
  width: 160px;
  margin: 0 auto 15px;
}
.footer .footer-bottom p {
  text-align: center;
  color: #fff;
}
.footer .footer-bottom .arrow {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 10;
}
.footer .footer-bottom .arrow:hover {
  opacity: 0.9;
}
.footer .footer-bottom .arrow:active {
  opacity: 0.6;
}
.footer .footer-bottom .arrow img {
  width: 37px;
}

@media screen and (max-width: 768px) {
  .footer .footer-top-content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .footer .footer-top-menu {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 567px) {
  .footer .footer-top-menu {
    flex-direction: column;
  }
  .footer .footer-top-menu a {
    margin: 0 0 15px;
    border: none;
    padding: 0;
  }
  .footer .footer-top-menu a:last-child {
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
